.app-component-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.app-component-container2 {
  display: contents;
}
@media(max-width: 1200px) {
  .app-component-container1 {
    width: 100%;
  }
}
